<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>


<!-- add a placeholder image when image is not available -->
<p>
  <%= image_tag(@product.image_url, :width => "300px", :alt => @product.name) if @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Decription:</b>
  <%= @product.description %>
</p>

<b>Reviews:</b>

<% counter = 1 %>
  
<!-- consider using an OL instead of a counter here! -->

<% @reviews.each do |r| %>
  <p><%= counter.to_s + ". Rating: " + r.rating.to_s%>
  <br /><%= link_to(r.body, review_path(r)) %>
  <% counter +=1 %>
<% end %>

<form action="/reviews/new" method="get">
  <input type="hidden" name="id" value="<%= @product.id %>">
  <input type="submit" value="Review This Item!" class="btn btn-primary btn-small">
</form>

<p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
